　　<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
　　　　{{ content }}

        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1607770" async=""></script>
        <!-- UY END -->
	<img src="http://api.qrserver.com/v1/create-qr-code/?data={{ page.url }};size=100x100" alt="" title="" />
　　</body>
　　</html>

