<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			if (jQuery) {  
				alert("jQuery library is loaded!");
			} else {
				alert("jQuery library is not found!");
			}
		</script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>

		<!-- UY BEGIN -->
    <!-- <div id="uyan_frame"></div> -->
    <!-- <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1607770" async=""></script> -->
    <!-- UY END -->

    <!-- <div id="qrcode"> -->
    <!--   <img src="http://api.qrserver.com/v1/create-qr-code/?data={{ site.url }}{{ page.url }}&amp;size=180x180" alt="{{ page.title }}" title="" /> -->
    <!-- </div> -->
  </body>
</html>
